/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Mono', monospace;
  user-select: none; }

.calc {
  margin-top: 10px;
  width: 400px;
  height: 600px;
  background-color: #212121;
  border: 1px solid #212121;
  overflow: hidden; }
  .calc .calc-screen {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #212121;
    height: 100px;
    width: 100%;
    background-color: #EEEEEE;
    border: 1px solid #212121;
    font-size: 50px;
    color: #212121; }
    .calc .calc-screen .result {
      padding-right: 10px; }
  .calc .row {
    display: flex; }
  .calc .calc-btns .calc-actions {
    box-sizing: border-box; }
    .calc .calc-btns .calc-actions .calc-btn-action {
      box-sizing: border-box;
      border: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 100px;
      background-color: #757575;
      font-size: 25px;
      color: #212121;
      cursor: pointer;
      transition: 0.5s; }
    .calc .calc-btns .calc-actions .calc-btn-action:hover {
      background-color: #616161; }
  .calc .calc-btns .calc-numbers {
    display: flex; }
    .calc .calc-btns .calc-numbers .calc-num-section .calc-btn-num {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 100px;
      background-color: #9E9E9E;
      border: 1px solid #212121;
      font-size: 25px;
      color: #212121;
      cursor: pointer;
      transition: 0.5s; }
    .calc .calc-btns .calc-numbers .calc-num-section .calc-btn-num:hover {
      background-color: #616161; }
    .calc .calc-btns .calc-numbers .calc-sum-section {
      width: 100px;
      height: 400px; }
      .calc .calc-btns .calc-numbers .calc-sum-section .calc-btn-sum {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FF5722;
        border: 1px solid #212121;
        font-size: 25px;
        width: 100%;
        height: 400px;
        cursor: pointer;
        transition: 0.5s; }
      .calc .calc-btns .calc-numbers .calc-sum-section .calc-btn-sum:hover {
        background-color: #D84315; }
